*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
/* Utilities starts */
p {
    margin: 0;
    line-height: 2;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Utilities ends */